/* 
        body {
            background-color: blue;
            padding: 200px;

        }

        .redtext{
           color:white;
        }
        .whitetext{
            color:red;
        } */
        
        html, body{
            padding:0;
            margin:0;
        }
        #body{
            font-size:15px;
            /* padding:17px; */
            background-size:cover;
            background-repeat: no-repeat; 
            
        }
        #topbar{
            height:91px;
            width:100%;
            margin: 0px;
            /* background-color:burlywood; */
            
        }

      
      


        #topbar #left{
            float:left;
            /* width:50px; */
            float:40px;
            font-size: 50px;
            padding:8px;
        } 
        #topbar #right {
            float: right;
            font-size: 3px;
            padding: 30px;
            
        } 
        #topbar b{
            color:darkgreen;
            
        
        
            
            
        }
       
        #topbar #right a{
            text-align: right;
            padding:20px;
            transition:all 0.5s ease;
            color: rgb(16, 47, 25);
            font-size:32px;
            display: inline;
            text-decoration: none;
            border-radius: 5px 30px 5px 30px;
        }
        #topbar a:hover{
            background-color:rebeccapurple;
            
        }
        #right a{
            padding: 20px;
        }
        .active {
            background-color: red;
        }
        .passive{
            background-color:yellow;
        }
        .create{
            background-color: green;
        }
        .live{
            background-color:red;
        }
        .vola{
            background-color:yellow;
        }
        .max{
            background-color: green;
        }
        #bottombar{
            height:100vh;
            background-image:url(r.jpg);
            background-size: cover;
            color:black;
            text-align: center;
            
        }
        h1{
            color:green;
        }
        footer{
            background-color:chocolate;
            height: 20vh;
        
        }
        h3{
            color:green;
            font-size: 30px;
        }

         th, td{
            padding: 5px;
            font-size: 18px;
        }

        .footer{
            position: absolute;
            bottom:-215px;
            left: 50%;
        }
                h4{
            text-align:center;
            color:rgb(12, 98, 41);
            font-size: 20px;
        }
        p{
            font-size: 17px;
        
        }

        
        .h1search{
            color:seagreen;
        }
        .h2search{
            color:teal;
        }
        .h3search{
            color:forestgreen;
        }
        .h3aza{
            color:olive;
        }
        .topclass{
            color:yellow;
            /* background-color:darkolivegreen; */
        }
        /* .topdiv{
            background-color:burlywood;
        } */
        .may{
            background-color:blue;
        }
        .june{
            background-color:orchid;
        }
        .hof{
            background-color: lightgray;
        }
        .july{
            background-color:rgb(192, 55, 5);
        }
        .sept{
            background-color:crimson;
        }
        .august{
            background-color:coral;
        }
        .topenve{
            color:chartreuse;
            /* background-color:rgba(126, 190, 30, 0.493); */
            
        }
        .topenve span{
            color:green;
        }
        .jan{
            background-color: darkgray;
        }
        .feb{
            background-color: darkcyan;
        }
        .mar{
            background-color: lightpink;
        }
        .apr{
            background-color: goldenrod;
        }
        .dec{
            background-color: darkseagreen;
        }
        .ma{
            background-color: firebrick;
        }
        .mon{
            background-color: limegreen;
        }
        .tue{
            background-color:darkslategray;
        }
        .wed{
            background-color: rgb(204, 103, 157);
        }
        .thur{
            background-color: indianred;
        }
        .fri{
            background-color: lightgreen;
        }
        
            
        
        /* .topsite{
            background-color:rgb(16, 47, 25);
            color:olive;
             } */
       
        .h1divs h1{
            color:lightpink;
        }
        .h1divs button{
            color:olivedrab;
        }
        .h1divs{
            position: absolute;
            left: 130px;
            top: 65%;
        }
        .h1bars{
            position: absolute;
            left:250px;
            top:80px;
        }
        .h1bottoms{
            position: absolute;
            top:70%;
            left:700px;
            color:honeydew;
        }
        .topref{
            color:darkolivegreen;
        }
        .ofset{
            background-color: burlywood;
        }
        .onset{
            background-color:cornflowerblue;
        }
        .olset{
            background-color: darkturquoise;
        }
        .weset{
            background-color:lavenderblush;
        }
        .thset{
            background-color:lightgoldenrodyellow;
        }
    #leo{
        height: 500px;
    
    }
    #leo #right{
        width: 40%;
        float: right;
        height: 500px;
        margin: auto;
        font-size: 20px;
    }
    #leo #left{
        width: 60%;
        float: left;
        height: 500px;
        margin: auto;
    }
    #hotel{
        height:500px;
        
    }
    #hotel #right{
        width: 50%;
        float:right;
        height:500px;
        margin:auto;
    }
    #hotel #left{
        font-size:20px;
        
    }
    #rhino{
        height:500px;
    
    }
    #rhino #left{
        width: 50%;
        float:left;
        height: 500px;
        margin:top;
        padding:-100px;
    }
    #rhino #right{
        font-size:20px;
    }
    #bed{
        height:500px;
    }
    #bed #right{
        width: 50%;
        float:right;
        height:500px;
        margin:auto;
    } 
    #bed #left{
        font-size: 20px;
    }
    #camp{
        height:500px;
    }
    #camp #left{
        width: 50%;
        float:left;
        height:500px;
        margin:auto;
    }
    #camp #right{
        font-size:20px;
    }
    .h1right{
        color: crimson;
    }
    .h2right{
        color:darkkhaki;
    }
    .h2left{
        color:darkkhaki;
    }        
     .h1rh{
         color:darkseagreen;
     }   
    .h2rh{
        color:darkkhaki;
    }
    .h1bed{
        color:greenyellow;
    }
    .h2bed{
        color:darkkhaki;
    }
    .h1camp{
        color:lightgreen;
    }
    .h2pam{
        color:darkkhaki;
    }
    .h1ar{
        color:darksalmon;
    }
    .h2ges{
        color:lightgoldenrodyellow;
    }
    .h2mb{
        color:peru;
    }
    .h1yt{
        color:mediumturquoise;
    }
    .txt{
        color:plum;
        font-size: 20px;
        height: 500px;
        
        }
    .sa{
        color:forestgreen;
        font-size: 20px;
        margin-left: 10px;
        background-color: black;
    }
    .sa .right{
        float: right;
        width: 40%;
        /* background-color: bisque; */
        padding-bottom: 350px;
        

    }
    .sa .left{
        float: left;
        width: 60%;
        
        
    }